<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- import CSS -->
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <title>HoNNeT - who wins on Heroes of Newerth!</title>
    </head>
    <body>
        <nav class="nav">
            <div class="nav-left">
            </div>

            <div class="nav-center">
                <a class="nav-item">
                    <span class="icon">
                        <i class="fa fa-github"></i>
                    </span>
                </a>
                <a class="nav-item">
                    <span class="icon">
                        <i class="fa fa-twitter"></i>
                    </span>
                </a>
            </div>

            <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
            <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
            <span class="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </span>

            <!-- This "nav-menu" is hidden on mobile -->
            <!-- Add the modifier "is-active" to display it on mobile -->
            <div class="nav-right nav-menu">

                <span class="nav-item">
                    <a class="button" >
                        <span class="icon">
                            <i class="fa fa-twitter"></i>
                        </span>
                        <span>Tweet</span>
                    </a>
                    <a class="button is-primary">
                        <span class="icon">
                            <i class="fa fa-download"></i>
                        </span>
                        <span>Download</span>
                    </a>
                </span>
            </div>
        </nav>
        <!-- <div id="app"> -->
        <!-- <el-button @click="visible = true">Button</el-button> -->
        <!-- <el-dialog v-model="visible" title="Hello world"> -->
        <!-- <p>Try Element</p> -->
        <!-- </el-dialog> -->
        <!-- </div> -->
        <section class="hero is-info is-bold">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        HoNNeT
                    </h1>
                    <h2 class="subtitle">
                        Predicts which team would win given heroes of both teams (driven by deep learning)
                    </h2>
                </div>
            </div>
        </section>
        <div class="container is-fluid box" id="app">
            <div class="notification is-success" v-if="!modelReady">Loading the brain ... please wait.</div>
            <div class="notification">
                <div class="columns">
                    <div class="column">
                        <p class="notification is-primary box">
                            Legion
                        </p>
                        <ul class="box">
                            <li>
                                <div class="notification is-warning">
                                    <button class="delete"></button>
                                    Hello
                                </div>
                            </li>
                            <li>something</li>
                            <li>something</li>
                        </ul>
                    </div>
                    <div class="column is-danger">
                        <p class="notification is-danger">
                            Hellbourne
                        </p>
                        something
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        {{ prediction }}
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="content has-text-centered">
                    <p>
                        <b>Disclaimer</b>: Don't take it too serious. The system is fed and learned from only ~90,000 random HoN matches.
                    </p>
                    <p>
                        <strong>HoNNeT</strong> by <a href="https://github.com/off99555">off99555</a>. The source code is licensed
                        <a href="https://github.com/off99555/HoNNeT/blob/master/LICENSE">Apache-2.0</a>.                    </p>
                    <p>
                        <a class="icon" href="https://github.com/off99555/HoNNeT">
                            <i class="fa fa-github"></i>
                        </a>
                    </p>
                </div>
            </div>
        </footer>
    </body>
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="keras-js/keras.js"></script>
    <script>
     const N_AVAIL_HEROES = 260
     const HERO_INPUT = new Array(2 * N_AVAIL_HEROES).fill(0)
     const vm = new Vue({
         el: '#app',
         data() {
             return {
                 model: null,
                 modelReady: false,
                 prediction: null
             }
         },
         watch: {
             modelReady: function() {
                 if (this.modelReady)
                     console.log('the model is ready now')
             }
         }
     })
     const model = new KerasJS.Model({
         filepaths: {
             model: 'honnet_brain_architecture.json',
             weights: 'honnet_brain_weights_weights.buf',
             metadata: 'honnet_brain_weights_metadata.json'
         },
         gpu: false
     })
     function getInputData(legion, hellbourne) {
        console.log('predicting with data')
        const inputData = {
            'hero_input': new Float32Array(HERO_INPUT)
        }
        return inputData
     }
     model.ready().then(() => {
         vm.model = model
         vm.modelReady = true

         // make predictions
         // outputData is an object keyed by names of the output layers
         // or `output` for Sequential models
         model.predict(getInputData([], [])).then(function(outputData) {
             console.log('output')
             console.log(outputData)
             vm.prediction = outputData
         }).catch(err => {
             // handle error
             console.log('pred error: ')
             console.log(err)
         })
     }).catch(err => {
         // handle error
         console.log('ready error: ')
         console.log(err)
     })
    </script>
</html>
